[mysqld]
server-id=1
log-bin=mysql-bin

default_authentication_plugin=mysql_native_password
# 테이블 이름은 주어진 대로 저장되지만 소문자로 비교
lower_case_table_names=1

# Added on 2022-02-17 to support a federation engine
#federated